.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add these styles to your global CSS file */

.expand-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.expand-enter-active {
  max-height: 1000px;
  /* Adjust as needed */
  opacity: 1;
}

.expand-leave {
  max-height: 1000px;
  /* Adjust as needed */
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.expand-leave-active {
  max-height: 0;
  opacity: 0;
}

/* styles.css */

/* Apply Flexbox to the parent container */
.parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Flex-grow for the graph container with a minimum height */
.graph-container {
  flex-grow: 1; /* Allow it to grow to fill space */
  min-height: 500px; /* Prevent collapsing below 500px */
  width: 100%; /* Full width */
  background-color: #f0f0f0; /* Optional background for clarity */
  border: 1px solid #000; /* Optional border for clarity */
  overflow: hidden; /* Prevent content overflow */
}

/* Define the slide-down animation */
@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 500px;
    /* Adjust to fit the content height */
    opacity: 1;
  }
}

/* Define the slide-up animation */
@keyframes slideUp {
  from {
    max-height: 500px;
    /* Adjust to fit the content height */
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}
